<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>
        {{recipeItem.name}}
        <button type="button"
                class="btn btn-primary dropdown-toggle pull-right">Manage <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="">Add to shopping list</a></li>
          <li><a href="">Edit recipe</a></li>
          <li><a href="">Delete recipe</a></li>
        </ul>
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="text-info">{{recipeItem.recipeText}}</p>
        <p><img src="{{recipeItem.imgURL}}" alt="{{recipeItem.description}}"></p>
      </div>
    </div>
  </div>
</div>

