<div class="row">
  <div class="col-xs-7">
    <div class="page-header">
      <h2>Shopping list</h2>
    </div>

    <!--INGREDIENTS LIST-->
    <div class="list-group">
      <app-shopping-item *ngFor="let i of ingredients"
                         [shoppingItem]="i"
                         (shoppingItemClick)="onClickedItem($event)">
      </app-shopping-item>
    </div>
  </div>

  <!--INGREDIENTS EDIT-->
  <div class="col-xs-5">
    <app-shopping-edit></app-shopping-edit>
  </div>

</div>
