<div class="row">
  <div class="col-lg-6">
    <app-recipe-list (recipeSelectedEmitter)="onRecipeSelected($event)">
    </app-recipe-list>
  </div>
  <div class="col-lg-6">
    <app-recipe-detail
      *ngIf="selectedRecipe; else infoText"
      [recipeInput]="selectedRecipe">
    </app-recipe-detail>
    <!--IF NO SELECTED RECIPE-->
    <ng-template #infoText>
      <div class="row">
        <div class="col-xs-12">
          <div class="page-header">
            <h1 class="text-info text-center"
                appHighlighter>
              (^u^)
            </h1>
          </div>
        </div>
        <div class="col-xs-12">
          <p class="text-info text-center">Please select one of the recipes from the list to your left.</p>
        </div>
      </div>
    </ng-template>
  </div>
</div>
